.card {
  position: relative;
  width: 290px;
  height: 290px;
  border: 1px solid #dedede;
  border-top: none;
  border-radius: 5px;
  margin: 1.5%;
  cursor: pointer;
}

.card-img {
  width: 290px;
  height: 186px;
  border-radius: 5px 5px 0px 0px;
}

.card-icon-heart {
  position: absolute;
  opacity: 0.6;
  /*padding-left: 250px;
  padding-top: 15px;
  stroke: rgb(226, 216, 216); */
}
.bookmarkTrue{
  color: red;
}
/* .card-icon-heart :hover {
  fill: rgb(247, 87, 87);
} */

.card-desc {
  text-align: right;
  padding-right: 10px;
  padding-top: 15px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
